
<div class="home-container">
  <div class="searchbox p-3">
    <div class="box">
      <!--box header -->
      <div class="box-header">
        <div class="box-header--title">
          <h2>Vuelos baratos</h2>
        </div>
      </div>
      <!--box row -->
      <div class="box-row row">

        <!--box-row--inputs -->
        <div class="box-row--inputs col-7 row">
          <%= form_tag(vuelos_path, method: :get, class: "row")  do %>
          <div class="box-row--input col-6">
            <%= label_tag(:departure, 'Origen') %>
            <%= text_field_tag :departure, nil, placeholder: "Ingresa desde donde viajas" %>
          </div>
          <div class="box-row--input col-6">
            <%= label_tag(:destination, 'Destino') %>
            <%= text_field_tag :destination, nil, placeholder: "Ingresa hacia donde viajas" %>
          </div>
        </div>

        <!--box-row--passenger -->
        <div class="box-row--passenger col-3">
          <div class="box-row--container">
            <%= label_tag(:people, 'Pasajeros')%>
            <div class="box-row--input">
              <%= text_field_tag :people,  nil, placeholder: "personas"  %>
            </div>
          </div>
        </div>

        <!--box-row--button -->
        <div class="box-row--button col-2">
          <div class="box-row--button--container">
            <%= submit_tag('Buscar',name: nil,class: "btn btn-lg") %>
          </div>
        </div>
          <% end  %>
      </div>
    </div>
  </div>
</div>

<!-- Resultado de la busqueda -->
<% if @vuelo  %>
<div class="container mt-5">
  <div class="show-flights p-2 row">
    <div class="show-flights--group-1 col-9 row justify-content-center">
      <div class="show-flights__departure ml-5 mr-5">
        <%= @vuelo.departure%>
      </div>
      <div class="to m-2">
          <%=icon('fas', 'long-arrow-alt-right')%>
      </div>
      <div class="show-flights__destination ml-5 mr-5">
        <%= @vuelo.destination%>
      </div>
    </div>
    <div class="show-flights--group-2 col-3 row justify-content-center">
      <div class="show-flights--selection m-2">
        <%= link_to 'Seleccionar', vuelo_path(@vuelo, people: @people), class: "btn btn-lg btn-default" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- Promociones de vuelos -->
<% if @promos  %>
<div class="container">
  
  <div class="Promociones mt-5">
    <div class="promociones__title">
      <h2>Promociones</h2>
    </div>

    <div class="promociones__container mb-5 row">
          <% @promos.each do |promo|%>

            

            <% if user_signed_in? %>

              <% if current_user.has_role? :admin %>
                <div class="card card-admin" style="width: 18rem;">
                <%= link_to vuelo_path(promo.vuelo_id, people: 1) do%>
                  <%= image_tag(promo.image_url(:photo).to_s, class: "card-img-top")%>
                <% end %>

                <div class="card-body">
                  <h6 class="card-title">
                    <div class="text_package">
                      <%= promo.description_package %>
                    </div>
                  </h6>
                  <h4 class="card-title">
                    <%= promo.description %>
                  </h4>
                </div>

                <div class="card-body field-price">
                  <div class="field-price">
                    <em class="text_price">
                      <%= promo.description_value %>
                    </em>
                    <span class="value_price text-right">
                      $<%= promo.price_promo %>
                    </span>
                  </div>
                  <div class="text-center mt-1">
                    <%= link_to "Editar", edit_promo_path(id: promo.id), class: "btn btn-outline-warning" %>
                    <%= link_to "Borrar", promo_path(id: promo.id), class: "btn btn-outline-danger", method: :delete %>
                  </div>
                </div>
                
                </div>
              <% else %>

                <%= link_to vuelo_path(promo.vuelo_id, people: 1), class: "link-card" do%>
                  <div class="card" style="width: 18rem;">
                    <%= image_tag(promo.image_url(:photo).to_s, class: "card-img-top")%>

                    <div class="card-body">
                      <h6 class="card-title">
                        <div class="text_package">
                          <%= promo.description_package %>
                        </div>
                      </h6>
                      <h4 class="card-title">
                        <%= promo.description %>
                      </h4>
                    </div>

                    <div class="card-body field-price">
                      <em class="text_price">
                        <%= promo.description_value %>
                      </em>
                      <span class="value_price">
                        $<%= promo.price_promo %>
                      </span>
                    </div>
                    

                  </div>
                <% end %>

              <% end %>

            <% else %>
            
              <%= link_to vuelo_path(promo.vuelo_id, people: 1), class: "link-card" do%>
                <div class="card" style="width: 18rem;">
                  <%= image_tag(promo.image_url(:photo).to_s, class: "card-img-top")%>

                  <div class="card-body">
                    <h6 class="card-title">
                      <div class="text_package">
                        <%= promo.description_package %>
                      </div>
                    </h6>
                    <h4 class="card-title">
                      <%= promo.description %>
                    </h4>
                  </div>

                  <div class="card-body field-price">
                    <em class="text_price">
                      <%= promo.description_value %>
                    </em>
                    <span class="value_price">
                      $<%= promo.price_promo %>
                    </span>
                  </div>
                  

                </div>
              <% end %>

            <% end %>

          <% end %>
    </div>

  </div>

</div>
<% end %>

