<nav class="header-container nav">
  <div class="header-logo nav-item">
     <%=icon('fas', 'plane')%>
    <%= link_to "despegando", root_path, class: "nav-link"%>
  </div>

  <ul class="header-sesion nav ">
    <div class="nav-item">
     <%=icon('fas', 'user')%>
     <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete%>
     <% else %>
      <%= link_to "Iniciar sesion", user_session_path%>
     <% end %>
    </div>
    <div class="nav-item">
     <% if user_signed_in? %>
        <%=icon('fas', 'user-edit')%>
        <%= link_to "Edit", edit_user_registration_path %>
     <% end %>
    </div>
    <div class="nav-item">
      <%=icon('fas', 'suitcase-rolling')%>
      <%= link_to "Rutas", vuelos_routes_path%>
    </div>
    <div class="nav-item">
      <%=icon('fas', 'question-circle')%>
      <%= link_to "Ayuda"%>
    </div>
  </ul>
</nav>

<div class="header-navigation">
  <div class="header-products">
    <ul class="header-products--list">
      <li class="header-products--item">
        <%=icon('fas', 'bed')%>
        <%= link_to "Alojamiento", vuelos_path, class: "nav-link"%>
      </li>
      <li class="header-products--item">
        <%=icon('fas', 'plane-departure')%>
        <%= link_to "Paquetes", vuelos_path, class: "nav-link"%>
      </li>
      <li class="header-products--item">
        <%=icon('fas', 'suitcase')%>
        <%= link_to "Imbatibles", vuelos_path, class: "nav-link"%>
      </li>
      <li class="header-products--item">
        <%=icon('fas', 'running')%>
        <%= link_to "Escapadas", vuelos_path, class: "nav-link"%>
      </li>
      <li class="header-products--item">
        <%=icon('fas', 'ticket-alt')%>
        <%= link_to "Actividades", vuelos_path, class: "nav-link"%>
      </li>
      <li class="header-products--item">
        <%=icon('fas', 'medkit')%>
        <%= link_to "Seguros", vuelos_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
</div>
