<!DOCTYPE html>
<html>
  <head>
    <title>Despegando</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %><p class="notice" id="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert" id="alert"><%= alert %></p><% end %>
    <%if current_page?(user_session_path) || current_page?(new_user_registration_path) %>
      <%= yield %>
    <% else %>
      <%= render "layouts/navbar" %>
      <%= yield %>
    <% end %>
  </body>
</html>
